<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/top.svg" type="image/svg+xml" />
<title><%= title %></title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style>
  body {
    background-color: #eee;
  }

  textarea:focus-visible,
  button:focus-visible,
  input:focus-visible,
  a:focus-visible,
  textarea:focus,
  button:focus,
  input:focus,
  a:focus {
    outline: none;
    border-color: var(--bs-secondary) !important;
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-body-color-rgb), 0.2) !important;
  }
</style>
